<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
    <% let fee_id = 'firtsNot'; %>
    <% let name = 'a'; %>
    <% let Class = 'b'; %>
    <% let section = 'c'; %>
    <% let feemonth = 'd'; %>
    <% let receipt_date = 'd'; %>
    <% let totalfee = 'f'; %>
    <% let paid_by = 'g'; %>

    <%if(result.length > 0){%>
        <% fee_id = result[0].fee_id; %>
        <% name = result[0].student_name; %>
        <% Class = result[0].Class; %>
        <% section = result[0].section; %>
        <% feemonth = result[0].feemonth; %>
        <% receipt_date = result[0].receipt_date; %>
        <% totalfee = result[0].totalfee; %>
        <% paid_by = result[0].paid_by; %>
    <%}%>
    <a href="/userDashboard"><i class="fa-solid fa-arrow-left fixed top-[10%] left-[3%] text-[20px]"></i></a>

    <div class="w-full border shadow-[inset_0px_-1px_20px_0px_#3600ff38]   ">
        <div class="w-[90%] mx-auto  px-0 flex justify-between items-center">
            <div class="flex items-center mix-blend-color">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSjRKZH2XEFHdEkiQJ6JilB54ypDt2QL5ybeA&s"
                    alt="School Logo" class="h-14 w-14 mr-1">
                <span class="text-red-950 text-base">School</span>
            </div>
           
            <div class="flex gap-x-2  w-full  justify-between">


                <div class="md:w-[70%] lg:w-[60%] w-full flex md:justify-end absolute top-[-200px] sm:opacity-100 opacity-0 transform transition-all ease-in-out duration-500 left-0  p-5 md:p-0 md:static bg-[#111827] md:bg-opacity-0 topHeaderMeanubar">
                    <ul class="flex md:space-x-4 flex-col md:flex-row gap-3 md:gap-0  w-full  md:justify-end ">
                        
                        <li class=""><a href="/marks" class="inline-block w-full text-white hover:text-white border border-purple-700 hover:bg-purple-800 focus:ring-2 focus:outline-none focus:ring-purple-300 font-medium rounded-lg text-sm px-4 py-2 text-center  dark:border-purple-400 dark:text-purple-400 dark:hover:text-white dark:hover:bg-purple-500 dark:focus:ring-purple-900">Marks</a></li>
                        <li><a href="/fee" class="inline-block w-full   text-white hover:text-white border border-purple-700 hover:bg-purple-800 focus:ring-2 focus:outline-none focus:ring-purple-300 font-medium rounded-lg text-sm px-4 py-2 text-center  dark:border-purple-400 dark:text-purple-400 dark:hover:text-white dark:hover:bg-purple-500 dark:focus:ring-purple-900">Fees </a></li>
                       
                       
                    </ul>

                    
    
                </div>
                <div class="md:w-[30%] w-full gap-3 flex justify-end ">
                    
                
                
                <a href="/sessionDestroy" class="text-white bg-[#050708] hover:bg-[#050708]/90 focus:ring-4 focus:outline-none focus:ring-[#050708]/50 font-medium rounded-lg text-sm px-3 py-2 text-center inline-flex items-center dark:focus:ring-[#050708]/50 dark:hover:bg-[#050708]/30 ">Logout<i class="fa-solid fa-right-from-bracket pl-1 text-center"></i></a>

                <button
                    class="text-white bg-[#050708] hover:bg-[#050708]/90 focus:ring-2 focus:outline-none focus:ring-[#050708]/50 font-medium rounded-lg text-sm px-3 py-2 text-center  items-center dark:focus:ring-[#050708]/50 dark:hover:bg-[#050708]/30  md:hidden  headerTopToogleBtn"
                    type="button"> <i class="fa-solid fa-bars"></i></a>
                </button>
            </div>

            </div>
        </div 
    </div>

    <div class="bg-[#f5f3f33c] w-full h-[92vh] border-t items-center justify-center flex ">
        <div class="overflow-auto max-h-[50%] border border-gray-300 w-[70%]">
            <table class="min-w-full divide-gray-200">
                <thead class="sticky top-0 bg-red-400 ">
                    <tr>

                        <th class="px-6 py-5 text-left text-xs font-medium text-white uppercase tracking-wider">Roll No</th>
                        <th class="px-6 py-4 text-left text-xs font-medium text-white uppercase tracking-wider">date</th>
                        <th class="px-6 py-5 text-left text-xs font-medium text-white uppercase tracking-wider">month</th>
                        <th class="px-6 py-5 text-left text-xs font-medium text-white uppercase tracking-wider">payment mode</th>
                        <th class="px-6 py-5 text-left text-xs font-medium text-white uppercase tracking-wider">total</th>
                        
                        
                    </tr>
                </thead>
                <tbody>
                    <%result.forEach(e=>{%>

                        <tr class="border-b">
                            <td class="px-6 py-3 font-medium "><%=e.fee_id%></td>
                            <td class="px-6 py-3 font-medium "><%=e.receipt_date%></td>
                            <td class="px-6 py-3 font-medium "><%=e.feemonth%></td>
                            <td class="px-6 py-3 font-medium "><%=e.paid_by%></td>
                            <td class="px-6 py-3 font-medium text-green-600"><%=e.totalfee%></td>
                         </tr>

                    <%})%>
                    
                </tbody>
                
            </table>
        </div>
    </div>
    
    
    
    <script>

        $(document).ready(function(){
            
            $('.headerTopToogleBtn').click(function () {

                $(this).find('i').toggleClass('fa-xmark fa-bars ');
                $('.topHeaderMeanubar').toggleClass('top-14 top-[-200px] opacity-100 opacity-0')

            });
        })
    </script>

    

</body>
</html>